{% extends 'layouts/settings.twig' %}
{% set response = search() %}


{% block body %}
{% import 'components/cards.twig' as card %}
<div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">  
    <div class="section">
        <div class="container texthandler">
        {% if response is iterable %}
            <div class="row">
                {% for p in response %}
                <div class="info">
                    <a href="/?page=post&s={{p.serial}}">
                        <div class="search-image">
                            <img src="{{p.date.image}}" alt="{{p.title}}">
                        </div>
                        <div class="search-text"> 
                            <h4 class="info-title">{{p.title}}</h4>
                            <p class="truncate">{{p.description}}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center"> 
                <h3>{{ response }}</h3>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}