{% extends 'auth.twig' %}

{% block content %}
{% set response = registerProcess() %}
{% import 'components/forms.twig'  as forms %}
<div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
        <div class="text-center mb-4">
            <p>{{ response }}</p>
        </div>
        <form action="" method="post">
            <div class='notifications bottom-right'></div>
            <div class="form-group">
                {{ forms.input('username','Enter your username',register.values.username,{'autofocus': true}) }}
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        {{ forms.input('firstname','Enter your firstname',register.values.firstname) }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            {{ forms.input('lastname','Enter your lastname',register.values.lastname) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    {{ forms.input('email','Enter your email',register.values.email,{'type':'email'}) }}
                </div>
            </div>
            <div class="form-group">
                {{ forms.input('password','Enter your password',null,{'type':'password'}) }}
            </div>
            <button class="btn btn-primary btn-block" name="submit">Register</button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/admin/auth.php?page=login">Login Page</a>
            <a class="d-block small" href="/admin/auth.php?page=forgot-password">Forgot Password?</a>
        </div>
    </div>
</div>
{% endblock %}