{% macro input(name,placeholder, value, options = []) %}
<div class="form-label-group">
    <input type="{{ options.type|default('text') }}" id="{{ name }}" class="form-control" name="{{ name }}"
        placeholder="{{placeholder}}" value="{{ value }}" required="{{ options.required|default('true') }}"
        autofocus="{{ options.autofocus|default('false') }}">
    <label for="{{ name }}">{{ options.name | default(name|capitalize) }}</label>
</div>
{% endmacro input %}

{% macro textarea(name, label, value = null, options = []) %}
<div class="form-group {{ options.class }}">
    <label for="{{ name }}"> {{ label | capitalize }}</label>
    <textarea type="text" onkeyup="textAreaAdjust(this)" class="form-control" id="{{ name }}"
        name="{{ name }}"></textarea>
</div>
{% endmacro %}

{% macro fileinput(name, label) %}
<div class="custom-file">
    <input type="file" class="form-control custom-file-input" name="{{name}}" id="{{name}}">
    <label class="custom-file-label" for="{{name}}">{{ label }}</label>
</div>
<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
{% endmacro %}

{% macro radio(label,name, value, options = []) %}
<div class="checkbox">
    <label>
        <input type="checkbox" name="{{name}}" value="{{value}}">
        {{label|capitalize}}
    </label>
</div>
{% endmacro %}