{% macro input(name, value, placeholder, type= 'text', autofocus="false", required=false, options = []) %}
    <div class="form-label-group">
            <input 
            type="{{ type }}" 
            id="{{ name }}" 
            class="form-control"
            name="{{ name }}" 
            value="{{ value }}" 
            required="required" 
            {{options.autofocus}}>
        <label for="inputTitle">{{ name | capitalize }}</label>
    </div>
{% endmacro input %}

{% macro textarea(name, label, value = null, options = []) %}
    <div class="form-group {{ options.class }}">
        <label for="{{ name }}"> {{ label | capitalize }}</label>
        <textarea type="text" onkeyup="textAreaAdjust(this)" class="form-control" id="{{ name }}" name="{{ name }}"></textarea>
    </div>
{% endmacro %}

{% macro fileinput(name, label) %}
    <div class="custom-file">
        <input type="file" class="form-control custom-file-input" name="{{name}}"
            id="{{name}}">
        <label class="custom-file-label" for="{{name}}">{{ label }}</label>
    </div>
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endmacro %}