{#
Name: table
Props: icon, name, rows, data
#}
{% block table %}
<div class="card mb-3">
    <div class="card-header">
    <i class="{{ table.icon }}"></i>
        {{ table.name }}</div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="{{ table.tableName | default('dataTable') }}" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th scope="row">#</th>
                {% for row in table.rows %}
                <th>{{ row }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th scope="row">#</th>
                {% for row in table.rows %}
                <th>{{ row }}</th>
                {% endfor %}
            </tr>
            </tfoot>
            <tbody>
            {% block table_data %}
            {% endblock %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Last updated <b>{{ "now" | date('d-M-Y h:i:s') }}</b></div>
    </div>
{% endblock %}