{% extends 'layout.twig' %}

{% block body %}

{% include "components/breadcrumb.twig" %}
{% import 'components/forms.twig' as forms %}

{% set response =  addPostEvent() %}
<form action="" method="post" enctype="multipart/form-data">
    <!-- <div class="row"> -->
    <div class="col-12">
        {% if response != null %}
            <div class="alert alert-warning" role="alert">{{response}}</div>
        {% endif %}
        <div class="form-group">
            <div class="form-row">
                <div class="col-6">
                    {{ forms.input("title","the title of the post",post.values.title, {'autofocus': true}) }}
                </div>
                <div class="col-6">
                    {{ forms.fileinput('file_upload','Add a picture to your post') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    {{ forms.input("category","Action, Thriller, Romance",post.values.category) }}
                </div>
                <div class="col-md-6">
                    {# To be changed! #}
                    {{ forms.input("status","Posted",post.values.status) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    {# To be changed! #}
                    {{ forms.input("format","Chat, Blog, Status",post.values.format) }}
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        {{ forms.textarea('content','Content of your post',post.values.content) }}
        <br>
        <button class="btn btn-primary btn-block" name="submit">Create post</button>
</form>


</div>
</div>
{% endblock %}