{% extends 'layout.twig' %}

{% block body %}
{% include "components/breadcrumb.twig" %}

{% embed "components/table.twig" %}
{% block table_data %}
{% for user in table.data %}
{% set data = jsonDecode(user.data) %}
<tr>
    <td>{{user.id}}</td>
    <td>{{user.uuid}}</td>
    <td>{{user.username}} </td>
    <td>{{user.email}} </td>
    <td>{{ (data.status=="confirmed") ? "Yes" : "No" }} </td>
    <td>{{data.role}} </td>
    <td>
        <a href="/profile.php?username={{ user.username }}" class="btn btn-info"><i class="fas fa-user-alt"></i></a>
        <a href="/admin/manage/user.php?action=edit&uuid={{ user.uuid }}" class="btn btn-success"><i class="fas fa-user-edit"></i></a>
        <!-- To be solved -->
        <a href="/admin/manage/user.php?action=delete&uuid={{ user.uuid }}" class="btn btn-danger"><i class="fas fa-user-times"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}
{% endembed  %}


{% endblock %}

{% block scripts %}
<script src="../style/datatables/jquery.dataTables.js"></script>
<script src="../style/datatables/dataTables.bootstrap4.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
{% endblock %}