{% extends 'layouts/logged.twig' %}

{% block body %}
{% import 'components/cards.twig' as card %}
{% set data = getPostBySerial()%}
{% if data == false %}
{% do redirect('/?page=blog') %}
{% endif %}
<div class="page-header header-filter" style="background-image: url('{{data.post.date.image}}');">
<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h3 class="title">
            {{data.post.title}}
            </h3>
            {{card.author_small(data.user.data.image, data.user.username, data.post.published)}}
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="main">

    <div class="container">
      <div class="section">
          <div class="post">
            {% autoescape 'html' %}
              {{data.post.text|raw}}
            {% endautoescape %}
          </div>
        <hr/>
        <p>
        <h5><b>Tags: </b></h5>
        {% for key in data.post.tags %}
        <span class="badge badge-default">{{key|upper}}</span>
        {% endfor %}
        </p>
        <p class="text-muted text-right">
          Published <b>10 days</b> ago <i>(edited)</i>
        </p>
        {{card.author_big(data.user.username, data.user.data.biography, data.user.username)}}
      </div>
    <div class="section recomended">
        <h3><b>More content:</b></h3>
        <hr>
        <div class="row">
            {% for c in data.recomanded  %}
                {{card.recomanded(c[0].date.image, c[0].title, c[2].username, c[0].serial)}}
            {% endfor %}
        </div>
    </div>

  </div>
</div>
{% endblock %}