{% extends 'layouts/logged.twig' %}

{% block body %}
{% import 'components/cards.twig' as card %}
{% set response = getUserInformation() %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/main/style/img/bg8.jpg');"></div>
  <div class="main">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="{{response.user.data.image}}" alt="{{response.user.username}}" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">{{response.user.username}}</h3>
                <h6 class="text-muted">{{response.user.data.firstname}} {{response.user.data.lastname}}</h6>
                {% if response.user.data.github != null %}
                <a href="{{response.user.data.github}}" target="_blank" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github"></i></a>
                {% endif %}
                {% if response.user.data.twitter != null %}
                <a href="{{response.user.data.twitter}}" target="_blank" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if response.user.data.website != null %}
                <a href="{{response.user.data.website}}" target="_blank" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-globe"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p style="white-space: pre-line">{{response.user.data.biography}}</p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                {% set active = true %}
                {% for c in response.categories %}
                    <li class="nav-item">
                        <a class="nav-link {{loop.index == 1 ? "active" : null}}" href="#{{c.name|lower}}" role="tab" data-toggle="tab">
                            <i class="material-icons">{{c.data.icon}}</i> {{c.name|capitalize}}
                        </a>
                    </li>
                    {% set active = false %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          {% if response.categories|length and response.posts|length %}
            {% for c in response.categories %}
            <div class="tab-pane {{loop.index==1 ? "active" : null}}" id="{{c.name|lower}}">
                <div class="row">
                  {% for p in response.posts %}
                    {% if p[1].name == c.name %}
                      {% set po = p[0] %}
                      {{card.recomanded(data.image, po.title, response.user.username ,po.serial)}}
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% else %}
                <div class="text-center">
                  <b>This user doesn't have any content.</b>
                </div>
              {% endif %}
        </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}