{% extends 'layout.twig' %}

{% block body %}
<!-- Breadcrumbs-->
{% include "components/breadcrumb.twig" %}
<!-- Icon Cards-->
<div class="row">
  {% import "components/icon_card.twig" as icon %}
  {{ icon.card('primary', 'fas fa-fw fa-comments', 'Files Uploaded','View more', '#', {dynamic: dashboard.files})}}
  {{ icon.card('warning', 'fas fa-fw fa-list', 'Active users','View more', '#')}}
  {{ icon.card('success', 'fas fa-fw fa-shopping-cart', 'Posts created','View more', '#')}}
  {{ icon.card('danger', 'fas fa-fw fa-life-ring', 'Comments','View more', '#')}}
</div>
<!-- Area Chart Example-->
<div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-info-circle"></i> Plans for future, {{navbar.username}}</div>
              <div class="card-body">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <h4>To be done:</h4>
                      <ul>
                        <li><s>File upload system</s></li>
                        <li>Posts ( Status: 25% )</li>
                        <li>Link the front-end with the back-end</li>
                        <li>Notification and Message handling</li>
                        <li>Follow system</li>
                        <li>Private messages ( end-to-end encryption )</li>
                        <li>Statistics system </li>
                        <li>API Request</li>
                        <li>User roles ( example: Administrator, Moderator, Writer, Reader )</li>
                        <li>Automatic token expiry | Use cron job </li>
                        <li>Reorganize files, a render engine</li>
                      </ul>
                    </div>
                    <div class="col-6">
                      <h4>Known bugs:</h4>
                      <ul>
                        <li>
                        <s>
                        Session, Confirmation and Reset password tokens doesn't keep track where you use them 
                        ( You can use the session token to reset your password, or even confirm your account )
                        </s>
                        </li>
                        <li>
                        <s>
                        When sending an email, the style is removed from the initial page 
                        ( Reset password and Confirmation for now )
                        </s>
                        </li>
                        <li>The login token of the cookie is set as it is found in the database.</li>
                      </ul>
                    </div>
                  </div>
                </div>
{% endblock %}
