{% extends 'auth.twig' %}

{% block content %}
{% import 'components/forms.twig'  as forms %}
<div class="container mx-auto mt-5">
        <div class="jumbotron text-center">
        <img src="/admin/style/img/logo.svg" alt="Logo" height="128" width="128" />
          <h1 class="display-4">Zephyrus installation page</h1>
          <p class="lead text-muted">{{install.text|raw}}</p>
          <!-- <hr class="my-4"> -->
          <p>
              {{(install.responses|join('<br>')|raw)}}
            </p>
          <p class="lead">
            {% if install.must == 2 %}
            <a class="btn btn-success btn-lg" href="/admin" role="button">Go home</a>
            {% elseif install.must == 1 %}
            <a class="btn btn-success btn-lg" href="?install=true" role="button">Install</a>
            {% else %}
            <form action="" method="post">
              <div class='notifications bottom-right'></div>
              <h4>Database configuration</h4>
              <hr>
              <h6 class="text-muted">
                You need a MySQL database for the backend of this application. Please fill up the 
                form with <b>Database HOST</b>, <b>Database NAME</b>, <b>valid username</b> and <b>password</b>.
              </h6><br />
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            {{ forms.input('DATABASE_HOST','Enter your lastname',register.values.DATABASE_HOST, {"name": "Host"}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ forms.input('DATABASE_NAME','Enter your firstname',register.values.DATABASE_NAME, {"name": "Database Name"}) }}
                    </div>
                    
                </div>
            </div>
              <div class="form-group">
                  <div class="form-row">
                      <div class="col-md-6">
                          {{ forms.input('DATABASE_USERNAME','Enter your firstname',register.values.DATABASE_USERNAME,{"name": "Username"}) }}
                      </div>
                      <div class="col-md-6">
                          <div class="form-label-group">
                              {{ forms.input('DATABASE_PASSWORD','Enter your lastname',register.values.DATABASE_PASSWORD, {"name": "Password", "type":"password"}) }}
                          </div>
                      </div>
                  </div>
              </div>
              <h4>Email service configuration</h4>
              <hr>
              <h6 class="text-muted">
                You need to go into the <a href="https://app.mailgun.com/app/dashboard" target="_blank">Mailgun dashboard</a>
                and get the <b>API key</b>, <b>Email sender</b> and <b>Domain</b>.
              </h6><br />
              <div class="form-group">
                  <div class="form-label-group">
                      {{ forms.input('MAILGUN_DOMAIN','Enter your email',register.values.MAILGUN_DOMAIN,{'name':'Domain'}) }}
                  </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        {{ forms.input('MAILGUN_API_KEY','Enter your firstname',register.values.MAILGUN_API_KEY,{'name':'API Key'}) }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            {{ forms.input('MAILGUN_EMAIL_SENDER','Enter your lastname',register.values.MAILGUN_EMAIL_SENDER, {'name':'Email Sender'}) }}
                        </div>
                    </div>
                </div>
            </div>
            <h4>Text editor</h4>
              <hr>
              <h6 class="text-muted">
                This application is using TinyMCE as text editor. Please fill in the API Key from your 
                <a href="https://www.tiny.cloud/my-account/dashboard/" target="_blank">TinyMCE dashboard</a>.
              </h6><br />
              <div class="form-group">
                  {{ forms.input('TINYMCE_KEY','Enter your API Key',null,{'type':'text', "name": "Tiny API Key"}) }}
              </div>
            <h4>Application secret key</h4>
              <hr>
              <h6 class="text-muted">
                This is very important because it will be used for cookie encryption and other security
                related stuff. 
              </h6><br />
              <div class="form-group">
                  {{ forms.input('CORE_SECRET_KEY','Enter your password',null,{'type':'password', "name": "Application secret key"}) }}
              </div>
              <button class="btn btn-primary btn-block" name="submit">Continue</button>
          </form>

            {% endif %}
        </p>
        </div>
{% endblock %}