{% extends 'layout.twig' %}

{% block body %}
{% include "components/breadcrumb.twig" %}
{{revokeToken()}}
{% embed "components/table.twig" %}
{% block table_data %}
{% for token in table.data %}
<tr>

    <td>{{token.id}}</td>
    <td>{{token.uuid}}</td>
    <td>{{getUsername(token.uuid)}}</td>
    <td> {{ (token.is_expired) ?  "Expired." : "Valid until: %s"|format(token.expiry_date|date('d-M-Y h:i:s')) }}
    </td>
    <td>{{token.used_for }} </td>
    <td>
        {% if token.is_expired == false %}
        <a href="/new/tokens/id/{{token.token}}/revoke" class="btn btn-sm btn-link"><i class="fas fa-times-circle"></i>
            Revoke</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}
{% endembed  %}


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#dataTable2').DataTable({
            "order": [
                [3, "desc"]
            ]
        });
    });
</script>
{% endblock %}