{% extends 'layouts/default.twig' %}

{% block body %}
{# import section #}
{% import 'components/cards.twig' as card %}
{# content #}
<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('/main/style/img/bg2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>Zephyrus</h1>
            <h3>A new <b>Content Management System</b> platform</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section why-us text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Let&apos;s talk product</h2>
            <h5 class="description">
              This is just a personal project developed by <i>zaBogdan</i>. The aim of it was to 
              create a flexible and scalable Content Management System (CMS) written in pure PHP.
              After a long journey these are three strong points of the Zephyrus app.
            </h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
                {{card.icon_top('security', 'info', 'Security', "Even from the early versions of this project I've looked over the best practices and security tips to make sure this system is as secure as possible")}}
            </div>
            <div class="col-md-4">
                {{card.icon_top('verified_user', 'success', 'Moderation', "One of main problem with this kind of system is related to bots and spam content. That's I've added some automated checks to be sure all new users content is verified and aproved by humans")}}
            </div>
            <div class="col-md-4">
                {{card.icon_top('description', 'warning', 'Open Source', 'This project can be found on my <a href="https://github.com/zaBogdan/zaEngine" target="_blank">github</a> and I can add new usefull features to make it a finished project and released project one day')}}
            </div>
          </div>
        </div>
      </div>
      <div class="section sectionFeatures text-center">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Built-in features</h2>
        </div>
        <div class="row">
            {{card.icon_left('people_outline', 'info', 'Role-Based access control', "Because security comes first when dealing with user data, we've implemented a Role system (RBAC) to make sure every user can do only what he is supposed to")}}
            {{card.icon_left('receipt_long', 'warning', 'Audit System', "To make sure everything is running the way it should, there is a logger system that takes care of every error or warning and takes appropriate messures when needed")}}
            {{card.icon_left('favorite', 'danger', 'Proof of concept', 'Even though is a one-man project driven and not yet released, the whole documentation of the API is been done here, made available on <a href="#" target="_blank">zabogdan.io</a>')}}
            {{card.icon_left('vpn_key', 'rose', 'Secure tokens', "Being all about learning, I've decided to implement custom tokens insted of using JWT format. Every important action (e.g. sessions, reset password, confirm email) has this built in")}}
            {{card.icon_left('subject', 'success', 'TinyMCE Editor', "In order to support the content and open a whole new range of posibilities I've decided to implement the TinyMCE editor because of it's lightweight and it has a wide variety of plugins")}}
            {{card.icon_left('grass', 'primary', 'Twig Rendering', "Everything it's a pain when working with vanilla HTML and CSS, but with the help of TWIG I've managed to implement each and every page saving a lot of time")}}
        </div>
      </div>
      <div class="section text-center">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Our numbers look like...</h2>
          <h5 class="description">
              Even though is a demo platform we keep all the posts & users that registered
            </h5>
        </div>
        <div class="row">
            {{card.icon_top('people', 'info', '100 Users', "verified on our platform")}}
            {{card.icon_top('file_copy', 'primary', '1000 Posts', "aproved by our moderation team")}}
            {{card.icon_top('attach_file', 'success', '10 Files', "uploaded on our servers")}}       
        </div>
      </div>
      <div class="section section-download" id="downloadSection">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-8 mx-auto">
            <h2>Do you want to try this?</h2>
            <h4>Even though it's not a full release yet, you can see all the features in action.
              For a complete experience you need to login/register an account with a valid email adress!
            </h4>
          </div>
          <div class="col-sm-8 col-md-6 mx-auto">
            <a href="/main/login" class="btn btn-secondary btn-lg">
              <i class="material-icons">login</i> Login
            </a>
            <a href="/main/register" target="_blank" class="btn btn-primary btn-lg" rel="nofollow">
            <i class="material-icons">how_to_reg</i> Register now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}